<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>In closing...</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" media="all" />
    <link rel="stylesheet" href="fonts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
  </head>
  <body>
    <div class="smaller">
      <p>This E-Book was produced with epubbery. For more information, visit:
        http://github.com/jlapier/epubbery</p>
        
      <p>To help disseminate this e-book, use the link: http://OpenBookFiction.com/epub</p>

      <p>
        EPUB: What, Why, and How by Jason LaPier is licensed under a Creative Commons Attribution 3.0 Unported License:
        http://creativecommons.org/licenses/by/3.0/
        <br/>
        You are free to share, remix, and make commercial use of the work if you attribute the work to Jason LaPier or otherwise get permission.
      </p>

      <p>
        Images in this epub are licensed with Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic License (CC BY-NC-SA 2.0)<br/>
        Here are the original links:<br/>
        http://www.flickr.com/photos/cayusa/2850427128/<br/>
        http://www.flickr.com/photos/jurvetson/10438860/<br/>
        http://www.flickr.com/photos/27085919@N07/3218413827/<br/>
        http://www.flickr.com/photos/sultmhoor/2936540994/<br/>
      </p>

      <p>
        <strong>This e-book is DRM free.</strong> DRM stands for <em>Digital Rights Management</em>.
        Basically, it's the stuff that some companies use to protect digital media (such as e-books, 
        music/audio files, DVD, and so on) from being copied and redistributed. 
        It's technology that replaces trust. What was so bad about trust that it needed a replacement?
      </p>
    </div>
  </body>
</html>
