<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ book.title }}</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" media="all" />
    <link rel="stylesheet" href="fonts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="print.css" type="text/css" media="print" />
  </head>
  <body style="text-align:center;">
    <h1>{{ book.title }}</h1>
    <div><img src="images/steampunkguy.jpg" alt="Title page"/></div>
    <div class="smaller"><p>E-Book Produced by tools provided by OpenBookFiction.com</p></div>
  </body>
</html>
